@tailwind base;
@tailwind components;
@tailwind utilities;


select,input,textarea{
  border: 1px solid #c2c2c2;
  outline-color: #B0754B;
  border-radius: 4px;
}

.active{
  background-color: #FDE6D5;
  border-color: #B0754B;
}